* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #222;
	color: #bbb;
}

.header-container {
	display: flex;
	flex-flow: wrap;
	background-color: #444;
	border-bottom: 1px solid grey;
}

.header {
	flex: 1;
	padding-top: 10px;
	text-align: center;
border: 1px solid red;
}

.player-container, .choice-container {
	display: table;
	width: 100%;
}

.player, .choice {
	display: table-cell;
	width: 40%;
	padding-top: 50px;
	text-align: center;
	font-size: 24px;
border: 1px solid red;
}

.spacer {
	width: 20%;
}

.choice {
	padding: 10px 0;
	font-size: 20px;
}

.button {
	border: none;
	border-radius: 20px;
	color: white;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	box-shadow: 0 4px #555;
}

.button-rock {
	background-color: #b8a038;
}

.button-rock:hover {
	background-color: #866e29;
}

.button-rock:active {
	background-color: #866e29;
	box-shadow: 0 3px #444;
	transform: translateY(2px);
}

.button-paper {
	background-color: #a890f0;
}

.button-paper:hover {
	background-color: #765ebe;
}

.button-paper:active {
	background-color: #765ebe;
	box-shadow: 0 3px #444;
	transform: translateY(2px);
}

.button-scissors {
	background-color: #b8b8d0;
}

.button-scissors:hover {
	background-color: #86869e;
}

.button-scissors:active {
	background-color: #86869e;
	box-shadow: 0 3px #444;
	transform: translateY(2px);
}

.thinking {
	font-style: oblique;
}

.win-percentage {
	display: block;
	padding: 50px 11% 0;
border: 1px solid red;
}

.bar-container {
	display: block;
	padding: 0px 10%;
border: 1px solid red;
}

.whole-bar {
	width: 100%;
	border: 3px solid #888;
	border-radius: 20px;
}

.progress-bar {
  width: 33%;
  height: 30px;
  background-color: #13a277;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 20px;
}

.table-container {
	display: block;
	padding: 50px 10% 0;
border: 1px solid red;
}

.button-clear {
	background-color: #f5850a;
}

.button-clear:hover {
	background-color: #c35300;
}

.button-clear:active {
	background-color: #c35300;
	box-shadow: 0 3px #444;
	transform: translateY(2px);
}

.table {
	margin: 10px 0 0;
}