* {
	box-sizing: border-box;
}

body {
	background-color: #222;
	color: #bbb;
}

.header-container {
	background-color: #444;
	border-bottom: 1px solid grey;
}

.header {
	float: left;
	width: 20%;
	padding-top: 10px;
	text-align: center;
}

.player {
	float: left;
	width: 40%;
	padding-top: 50px;
	text-align: center;
	font-size: 24px;
}

.choice {
	float: left;
	width: 40%;
	padding: 10px 0;
	text-align: center;
	font-size: 20px;
	border: 1px solid red;
}

.button {
	border: none;
	border-radius: 20px;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 4px #555;
}

.button-rock {
	background-color: #b8a038;
}

.button-rock:hover {
	background-color: #866e29;
}

.button-rock:active {
	background-color: #866e29;
	box-shadow: 0 3px #444;
	transform: translateY(2px);
}

.button-paper {
	background-color: #a890f0;
}

.button-paper:hover {
	background-color: #765ebe;
}

.button-paper:active {
	background-color: #765ebe;
	box-shadow: 0 3px #444;
	transform: translateY(2px);
}

.button-scissors {
	background-color: #b8b8d0;
}

.button-scissors:hover {
	background-color: #86869e;
}

.button-scissors:active {
	background-color: #86869e;
	box-shadow: 0 3px #444;
	transform: translateY(2px);
}

.spacer {
	width: 20%;
}

.header-container::after, .player-container::after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 815px) {
	.header {
		width: 33%;
	}
}

